@charset "UTF-8";
body{
  font-family: "Noto Sans JP", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 400;
  background-color: #fff7c7;
}

h1 {
    margin: 0px auto;
    font-size: 18px;
    text-align: center;
}
h2{
    color: #666;
    margin: 20px auto;
    width: 300px;
    line-height: 2;
    border-bottom: dotted #ff8a67;
    font-weight: bold;
}
p{
    font-size: 12px;
    text-align: center;
}
.prof-image {
    display: block;
    margin: 20px auto 10px;
    border-radius: 50%;
    width: 200px;
}
/* favorite-listここから */

.favorite-list {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 10px;
    }
.favorite-list li {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorite-list img{
    width: 90px;
    height: 90px;
}
/* favorite-listここまで */

ul{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
li {
    margin-bottom: 15px;
}
a{
    background-color: #ff8a67;
    display: block;
    padding: 20px 0;
    border-radius: 40px;
    color:#ffffff;
    font-weight: bold;
}

.footer-text{
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
}